# Ignore built datasets and datasets directories
data/
data1/
trm_maze_hard/
trm_sudoku_extreme/

# Ignore virtual environments
.venv/
.venv_ppt/
venv/
env/

# Ignore python bytecode and cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Ignore Jupyter Notebook checkpoint directories
.ipynb_checkpoints/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore sensitive credentials
EdgeTRM.pem
EdgeTRM_Seq.pem
